/* body {
  text-align: center;
  background-color: #8dbcc7;
  margin: 0;
  padding: 10px;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
} */

.placeholder-background {
  background-image: url(media/quizz_like_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

/* *******************INDEX PAGE STYLING************************ */
/* *******************INDEX PAGE STYLING************************ */

.index-page {
  text-align: center;
  margin: 0;
  height: 100vh;
}

.index-page .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 100vh;
  margin: 0 !important;
}

.index-page .container h1 {
  color: #ebffd8;
  font-size: 45px;
}

.index-page .container .btn-container {
  width: 145px;
  height: 50px;
  position: relative;
  margin: 10px 5px;
}
.index-page .container .btn-container .start-btn {
  position: absolute;
  padding: 15px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #05bd0b;
  color: white;
  font-weight: 700;
  transition: background-color 0.3s ease;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.index-page .container .btn-container .start-btn:hover {
  background-color: #0fc515;
  width: 150px;
  height: 55px;
}

/* *******************QUIZZ PAGE STYLING************************ */
/* *******************QUIZZ PAGE STYLING************************ */

.quizz-page {
}

.container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.questionBlock {
  flex: 0 0 calc(21% - 10px);
  width: 250px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid black;
  margin: 6px;
  background-color: #f5f9fd;
  transition: transform 0.2s ease;
  font-family: "Montserrat", sans-serif;
}

.questionBlock:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.questionBlock .question {
  font-size: 16px;
}

.questionBlock label {
  font-size: 15px;
}

/* #startBtn, */
#nextBtn,
#prevBtn,
#backBtn {
  padding: 8px 14px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s ease;
  margin: 10px 5px;
  font-family: "Montserrat", sans-serif;
}

#nextBtn:hover,
#prevBtn:hover,
#backBtn:hover {
  background-color: #45a049;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.resultContainer {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
}

.scoreHeading {
  text-align: center;
  margin-bottom: 20px;
}

.timer {
  display: flex;
  justify-content: flex-end;
  margin-right: 69px;
}

.timer p {
  background-color: #f5f9fd;
  padding: 3px;
  border-radius: 10px;
  font-weight: 500;
  border: 1px solid black;
  font-weight: 15px;
  padding: 8px;
}

.qDiv {
  border: 1px solid black;
  margin-bottom: 15px;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
}

.qDiv h3 {
  margin: 0;
  color: #333;
}

.qDiv p {
  margin: 5px 0;
}

#scoreSpan {
  font-size: 2rem;
  font-weight: bold;
  color: #1e90ff;
  margin-bottom: 15px;
}

#correction {
  display: none;
  flex-direction: column;
  align-items: center;
}

#labelSpan {
  margin-top: 15px;
  cursor: pointer;
  color: white;
  border-radius: 6px;
  border: none;
  padding: 8px 16px;
  background-color: #1e90ff;
}

#labelSpan:hover {
  background-color: #0066cc;
}

/* .indexPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 100vh;
} */

.make-bold {
  font-weight: bold;
}

@media (max-width: 995px) {
  .questionBlock {
    flex: 0 0 calc(45% - 10px);
    font-size: 13px;
  }

  #timer {
    justify-content: center;
    margin-left: 90px;
  }
}

@media (max-width: 800px) {
  .questionBlock {
    flex: 0 0 calc(75% - 10px);
    font-size: 15px;
  }
}
